@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.header .logo{
    width: 14%;
}

.header .navbar ul{
    list-style: none;
}

.header .navbar ul li{
    position:relative;
    float: left;
    font-weight: 200;
    font-size: 15px;
}
.header .navbar ul li:hoover{
    color: rgb(163, 163, 163);
}

.header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.header .navbar ul li a:hover{
    color: #fff;
    font-weight: 300;
}

#menu-bar{
    display: none;
}

.header label{
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    display: none;   
}
.header label img{
    width: 10%;
    float: right;
}

form{
    display: block;
    margin-top: 80px;
    text-align: center;
}

form input{
    width: 60%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 20px;
    box-shadow:  1px 1px 6px #0000001c;
}

form input:hover{
    background-color: #eeeeee75;
}

form input:focus-visible{
    outline: 1px solid #1872CF ;
}

form input::placeholder{
    color: #000000be;
}
form button{
    width: 10%;
    padding: 0.8rem;
    background-color: #1872CF;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    box-shadow:  1px 1px 6px #0000001c;
}

form button:hover{
    cursor: pointer;
    background-color: #6b63fff1;
}

#anuncios{
    display: flex;
    padding: 32px;
}

#anuncios .anuncio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    box-shadow:  1px 1px 6px #0000001c;

}

#anuncios .anuncio:first-child{
    margin-left: 0;
}
#anuncios .anuncio .icon{
    width: 250px;
    height: 250px;
}
#anuncios .anuncio img{
    width: 100%;
    height: 100%;
}
#anuncios .anuncio h3{
    font-size: 100%;
    margin: 16px 0;
}

#anuncios .anuncio span{
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px ;
}
#anuncios .anuncio button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    box-shadow:  1px 1px 6px #0000001c;
    background-color: #1872CF;
    color: #fff;
}

#anuncios .anuncio button:hover{
    background-color: #6b63fff1;
}

@media(max-width:1064px){
    .header{
        padding: 20px;
    }
    .navbar{
        display: none;
    }
    .header label{
        display: initial;
    }

    .header .logo{
        width: 30%;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #000000;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .header .navbar ul li{
        width: 100%;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
        display: none;
        display: block;
    }
    form button{
        width: 20%;
    }

}

@media screen and (max-width:720px){
    #anuncios{
        flex-direction: column;
    }
    #anuncios .anuncio{
        margin-left: 0;
        margin-bottom: 32px;
    }

    #anuncios .anuncio:last-child{
        margin-bottom: 0;
    }

    #anuncios .anuncio button{
        font-size: 70%;
        width: 50%;
    }
}